*{
    font-family: Roboto, sans-serif;
}
a{
    text-decoration: none !important;
}
.container-full{
    background-color: #3e3e3e;
}
/*header*/
.header-menu{
    display: flex;
    background-color: #3e3e3e;
    color: #ffffff;
    align-items: center;
    font-size: 17px;
}
.header-menu a{
    color: #ffffff;
}
.header-menu a:hover{
    color: #eeff00;
}
.header-menu .navbar{
    padding: 0 25px;
}
.logo-header img{
    max-width: 40px;
}
.header-slideshow{
    position: relative;
    width: 100%;
    height: 500px;
    background: #000;
    display: flex;
}
.carousel, .carousel-inner, .carousel-item {
    width: 100%;
    height: 100%;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}
/*search*/
.search-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;
}
.search-form-top{
    background: #2e2e2e;
    transform: translate(0%, 0%);
    opacity: 0.95;
}
.form-search{
    margin: auto;
    width: 70%;
    padding: 0 15px;
    background: #2e2e2e;
    opacity: 0.95;
}
.form-search-top{
    border-radius: 0;
    transform: translate(0%, 0%);
}
.search-form-title{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0px 0px 10px #000;
}
.content-show{
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
}
.search-item{
    padding: 0 !important;
}
.search-item *:hover{
    cursor: pointer;
}
.content-show-big{
    padding: 20px 0;
}
.search-form .icon{
    padding: 0 15px;
    font-size: 25px;
    color: #ffffff;
}
.search-form .content{
    width: 100%;
    color: #cccccc;
    line-height: 15px;
    font-size: 17px;
}
.search-form .content label{
    margin: 0;
    padding: 5px;
}
.search-form .content .render{
    color: #5191FA;
    font-size: 14px;
}
.search-button{
    padding: 3px!important;
}
.search-button button{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    font-size: 25px;
    border: 0;
}
.dropdown-menu{
    width: 100%;
    border: none !important;
    border-radius: 0 !important;
    line-height: 2em;
    margin: 0 !important;
    box-shadow: 0px 1px 1px #2e2e2e !important;
    background-color: #2e2e2e !important;
}
.dropdown-menu a{
    color: #cccccc;
}
/*search end*/
/*header end*/

/*introduction*/
.introdution{
    margin-bottom: 30px;
}
.intro-item{
    display: flex;
    margin: 10px 0px;
}
.intro-img{
    padding: 15px;
}
.intro-content{
    padding: 15px;
    font-size: 13px;
    color: #cccccc;
}
.intro-content h5{
    color: #ffffff;
}
/*introduction end*/

/*popular activity*/
.activity-wrapper{
    padding: 10px 0;
}
.popular-activity .title{
    color:#ffffff;
    font-weight: 500;
}
.activity-item{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.activity-img img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.activity-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.activity-content .title{
    font-size: 40px;
    color: #ffffff;
}
.activity-content button{
    border-radius: 0px;
    padding: 3px 15px;
    font-size: 15px;
}
/*popular activity end*/

/*tours*/
.tours{
    position: relative;
    margin-bottom: 30px;
}
.tours .title{
    color:#ffffff;
    font-weight: 500;
}
.tours-wrapper{
    white-space: nowrap;
    padding: 10px 0px;
    overflow: hidden;
}
.tour-item{
    display: inline-block;
    width: 220px;
    margin: 0 15px;
    white-space: normal;
    background-color: #2e2e2e;
}
.tour-header{
    position: relative;
    overflow: hidden;
}
.tour-tag{
    position: absolute;
    top: 8px;
    padding: 3px 10px;
    background-color: #19A1E5;
    border-radius: 0 3px 3px 0;
    font-size: 13px;
    color: #ffffff;
}
.tour-header img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.tour-title a{
    color: #a6dbff;
    font-weight: 400;
    font-size: 17px;
}
.tour-content{
    padding: 10px;
    font-size: 15px;
    line-height: 30px;
    color: #cccccc;
}
.tour-info{
    display: flex;
    justify-content: space-between;
}
.tour-star{
    color: #ffff00;
}
.tour-time{
    font-size: 12px;
}
.btn-for-tours{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
    opacity: 0.8;
    font-size: 45px;
}
.tour-price{
    font-size: 17px;
}
/*tours end*/

/*mailchimp*/
.mailchimp-wrapper{
    background: #2e2e2e;
    padding: 50px 20px;
    margin-bottom: 30px;
}
.media-left{
    display: flex;
}
.media-img{
    padding: 10px;
}
.media-body{
    padding: 10px;
    color: #ffffff;
}
.media-form{
    height: 100%;
    text-align: center;
}
.media-form input{
    margin: 5px 0;
}
/*mailchimp end*/

/*footer*/
.footer-distributed{
	background-color: #292c2f;
    width: 100%;
    padding: 30px
}

.footer-distributed h3{
    color:  #ffffff;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	line-height: 1.8;
	color:  #ffffff;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
}

/* Footer Center */
.footer-distributed{
    margin: 0 !important;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;  
	margin: 10px 15px;
}

.footer-distributed .footer-center .item{
	display: flex;
    color: #ffffff;
    align-items: center;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
}

/* Footer Right */
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/*footer end*/

/*animation*/
.ani-img-zoom{
    transition: transform .3s;
}
.activity-item:hover .ani-img-zoom{
    transform: scale(1.1); 
}
.tour-header:hover .ani-img-zoom{
    transform: scale(1.1);
}
.ani-box-shawdow{
    transition: box-shawdow .3s;
}
.ani-box-shawdow:hover{
    box-shadow: 0px 0px 10px #202020;
}
/*animation end*/
